.postmeta
  %span.date= @item[:created_at].strftime "%d %b %Y"
  - unless @item[:tags].nil? or @item[:tags].empty?
    %span.tags>
      in
      = tags_for @item, base_url: info(:tag_base_url)
  %span.previous>
    - prev_id = @item[:prev]
    - if prev_id.nil?
      (oldest)
    - else
      = link_to "&larr;&nbsp;previous", @items[prev_id]
  %span.next>
    - next_id = @item[:next]
    - if next_id.nil?
      (newest)
    - else
      = link_to "next&nbsp;&rarr;", @items[next_id]

